/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
	background-color: #8b8b8b;
	color: white;
	text-align: center;
	padding: 8px;
}
#content {
	width: 960px;
	margin: 0 auto;
	background-color: #dbdbdb;
}

h2 {
	text-align: center;
	font-size: 50px;
	color: white;
}
input[type=file] {

}
.lecture {
	color: white;
	margin: 8px;
	line-height: 24px;
}
.box { 
	width: 800px;
	margin: 40px auto;
	padding: 20px;
	
	text-align:center
}

#load {
	background-color: #747691;
}

#create {
	background-color: #758b7d;
}

#get {
	background-color: #887272;
}

.holder {
	margin: 8px auto;
	width: 80%;
	padding: 40px;
	background-color:  rgba(255, 255, 255, 0.25);;
	width: 600px;
	margin: 30px auto;
	padding: 40px;
}

#preview {
	display: none;
}

img { 
	border: none;
	border-style:none;
	image-rendering : pixelated;   
}

#acknowledgement {
	background: #8b8b8b;
}

div.message {
	color: #a13636;
	padding: 10px;
}

#comment {
	background: #8b8b8b;
}

a#download, a#download:hover, a#download:visited, a#download:active{
	color: #303030;
	text-decoration: none;
}

#download {
	color: #0000F0;
	border: 1px solid #303030;
	padding: 12px 24px;
	background-color: rgba(255, 255, 255, 0.4);
}

a#download.disabled {
	pointer-events: none;
	cursor: default;
}

span.blk {
	display: inline-block;
}
.color_rec {
	width: 8px;
	height: 8px;
}

#color_list {
	text-align: left;
}

span.notice {
	font-weight: bold;
	color: #ff9d9d;
}